@charset "UTF-8";

@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* { /* 별도 지정 없는 태그 기본 font */
 	font-family: 'NanumSquareNeo-Variable';
 	font-size: 16px;
}

body {
	min-width: 561px;
}
.container {
	/*footer 화면 height 적용*/
	min-height: calc(100vh - 341px);
}
.page-link {
	color: #9d9d9d;
}
.active>.page-link, .page-link.active {
	background-color: #ff670c;
	border-color: #ff670c;
}
.page-link:hover {
	color: #ff6000;
}
footer {
	background-color: #252525;
    width: 100%;
    min-height: 150px;
    position: relative;
    transform: translateY(100px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -99;
}

.footerArea {
	width: 100%;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
}
.hover-back:hover {
	box-shadow: 1px 1px 15px #bbbbbb;
	transition: box-shadow .3s, color .3s, border-color .3s;
}

.alert-dismissible {
	margin: 10px;
}

.mainTitle {
	padding: 6rem 0 3rem;
	font-size: 2rem;
	font-weight: bolder;
}

.subTitle {
	padding-bottom: 4rem;
	font-size: 1.1rem;
}

.body {
	align-content: center;
}

.underline {
	border-bottom: 1px solid #d1d1d1;
}

.container_content {
    padding-left: 50px;
}

/*small button 크기 (추가, 수정, 삭제)*/
.sm_ctlbtn { /*div - a*/
	min-width: 60px;
    height: fit-content;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    padding: 0 7px;
}

/*small button 색상 (추가, 수정, 삭제)*/
.insert_smbtn {
	border: 1px solid #008dff;
}
.insert_smbtn > a {
	color: #008dff;
}
.update_smbtn {
	border: 1px solid #00ad07;
}
.update_smbtn > a {
	color: #00ad07;
}
.delete_smbtn {
	border: 1px solid #ff1414;
}
.delete_smbtn > a {
	color: #ff1414 !important;
}


/*big button 크기 (추가, 수정, 삭제)*/
.big_ctlbtn { /*button*/
	width: 180px;
    height: 50px;
    font-size: 1rem;
    border: 0;
    border-radius: 25px;
}

/*big button 색상 (추가, 수정, 삭제)*/
.insert_bigbtn {
	background-color: #ff6000;
	color: #fff;
    border: 0;
    border-radius: 25px;
}
.insert_bigbtn:hover {
	background-color: #c94c00;
	color: #fff;
}
.update_bigbtn {
	background-color: #ffa559;
	color: #fff;
    border: 0;
    border-radius: 25px;
}
.update_bigbtn:hover {
	background-color: #df8b43;
	color: #fff;
}
.delete_bigbtn {
	background-color: #ff2e00;
	color: #fff;
    border: 0;
    border-radius: 25px;
}
.delete_bigbtn:hover {
	background-color: #c32300;
	color: #fff;
}
.select_bigbtn {
	background-color: #ffffff;
    border: 1px solid #0143ff;
    color: #0143ff;
    border-radius: 25px;
}
.select_bigbtn:hover {
	background-color: #f0f4ff;
    border: 1px solid #0143ff;
    color: #0143ff;
}
.reset_bigbtn {
	background-color: #ffe6c7;
	color: #000000;
    border: 0;
    border-radius: 25px;
}
.reset_bigbtn:hover {
	background-color: #ffd49f;
	color: #000000;
}
.normal_bigbtn {
    background-color: #ffffff;
    border: 1px solid #252525;
    color: #252525;
    border-radius: 25px;
}
.normal_bigbtn:hover {
    background-color: rgb(235, 235, 235);
    border: 1px solid #252525;
    color: #252525;
}
.else_bigbtn {
	background-color: #252525;
	color: #fff;
    border: 0;
    border-radius: 25px;
}
.else_bigbtn:hover {
	background-color: #454545;
    color: #fff;
}
.cancle_bigbtn {
	background-color: #d9d9d9;
	color: #000000;
    border: 0;
    border-radius: 25px;
}
.cancle_bigbtn:hover {
	background-color: #c5c5c5;
	color: #000000;
}

.cardArea {
	display: flex;
}
.card-content{
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column;
/*    justify-content: center;*/
    margin-bottom: 0;
    padding: 68px 60px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    /* overflow: hidden; */
    box-shadow: 0 2px 12px rgba(3, 3, 3, .08);
}
.inputArea {
	margin-bottom: 40px;
	width: fit-content;
}
.mustInput {
	color: #ff6000;
    font-weight: 500;
}
.input-field-label {
	color: #303030;
    font-weight: 700;
    line-height: 1.111em;
/*    display: block;*/
    margin-bottom: 10px;
}
.input_text {
    min-height: 65px;
    width: 100%;
    filter: none;
    color: #454545;
    cursor: auto;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 100px;
    margin-bottom: 0;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 1.111em;
    transition: box-shadow .3s, color .3s, border-color .3s;
    box-shadow: 0 1px 8px rgba(3, 3, 3, .06);
}
.input_text:hover {
    border-color: #ff6000;
    box-shadow: 0 2px 12px rgba(3, 3, 3, .1);
}
.input_text:focus {
	color: #0b0b0b;
	outline: none !important;
    border-color: #ff6000;
    box-shadow: 0 2px 12px rgba(3, 3, 3, .1);
}
.input-textArea {
	border-radius: 20px;
}
.input-file {
	border-radius: 20px;
    line-height: 24px;
}
.round-orange-hover { /*store List -  keyword, category 검색 시*/
    filter: none;
    color: #454545;
    cursor: auto;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 100px;
    margin-bottom: 0;
    transition: box-shadow .3s, color .3s, border-color .3s;
    box-shadow: 0 1px 8px rgba(3, 3, 3, .06);
}
.round-orange-hover:hover {
	border-color: #ff6000;
    box-shadow: 0 2px 12px rgba(3, 3, 3, .1);
}
.round-orange-hover:focus {
	color: #0b0b0b;
	outline: none !important;
    border-color: #ff6000;
    box-shadow: 0 2px 12px rgba(3, 3, 3, .1);
}
.profile_image {/* common 상단 프로필 이미지 */
	width: 45px;
	height: 45px;
	margin: 2px;
	margin-left: 15px;
	border-radius: 50px;
}