@charset "UTF-8";

* {
	margin:0;
	padding:0;
}
.header_underline {
/*	border-bottom: 1px solid #cdcdcd;*/
}
.header {
<<<<<<< HEAD
    padding: 15px 50px 15px 50px; /*top right bottom left*/
=======
    padding: 15px 120px 15px 120px; /*top right bottom left*/
>>>>>>> origin/lleebs.v6
}
.navibar_hole {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navibar {
	font-weight: 500;
}
ul, li {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
a {
	text-decoration:none;
	color: #333;
}
.member_menu {
	color:#cfcfcf !important;
	font-size: 1rem !important;
}
.min_submenu {
	font-size: 1rem;
}
.navibar:after {
	display:block;
	content:'';
	clear:both;
}
.main-nav-li {
	position:relative;
	float:left;
<<<<<<< HEAD
	margin:0 20px;
=======
	margin-right:40px;
>>>>>>> origin/lleebs.v6
	height: 60px;
}
.member-nav-li {
	position: relative;
    float: left;
    /* margin-right: 40px; */
    height: 60px;
}
.navibar > li > a {
	display:block;
	padding:5px 15px;
	height:40px;
	line-height:52px;
	color:#fff;
	font-size: 1.1rem;
}
.navibar > li > a:hover {
	color: #ff6d15;
}
.navibar > li:hover .subnavbar {
	display: block;
}
.navibar .subnavbar {
	display: none;
	position: absolute;
	z-index: 1;
<<<<<<< HEAD
	left:3px;
=======
	left:8px;
>>>>>>> origin/lleebs.v6
	right:0;
	text-align:left;
	font-weight: normal;
	width: fit-content;
/*	border: 1px solid #cdcdcd;*/
	border-radius: 10px;
	background-color: #333;
	margin-top: 15px;
}
.navibar .subnavbar a {
	display:block;
	padding:15px 20px;
	color: #cdcdcd;
}
.subnavbar > li {
	white-space: nowrap;
}
.navibar .subnavbar a:hover {
	color: #ff6000;
}
.subnavbar > li > a {
	font-size: 1rem;
}
/*.navibar_member > li {*/
/*	display: inline-block;*/
/*	padding: 5px 10px;*/
/*}*/
.dontshow {
	display: none;
}

<<<<<<< HEAD
@media screen and (min-width: 841px) {
=======
@media screen and (min-width: 981px) {
>>>>>>> origin/lleebs.v6
	.hamnav {
		display: none;
	}
	.ham_bg {
		display: none;
	}
	.navibar_toggleBtn {
		display: none;
	}
}

<<<<<<< HEAD
@media screen and (max-width: 840px) {
=======
@media screen and (max-width: 980px) {
>>>>>>> origin/lleebs.v6
	.hamnav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.navibar_hole {
		display: none;
	}

	.hamarea {
		position: relative;
    	top: -6px;
	}
	.hamburger {
<<<<<<< HEAD
		width: 1.6rem;
=======
		width: 2rem;
>>>>>>> origin/lleebs.v6
		padding: 0;
	}
	.hamline{
		display: block;
		height: 2px;
<<<<<<< HEAD
		background-color: #fff;
		margin-top: 6px;
	}
	.ham_bg {
	    background-color: #333;
	    min-width: fit-content;
	    width: 450px;
	    float: right;
	    padding: 30px 110px 30px;
	    margin-top: 8px;
	    position: absolute;
	    z-index: 1;
	    right: 20px;
	    border-radius: 80px;
	    box-shadow: 2px 2px 11px #212121;
=======
		background-color: #666;
		margin-top: 10px;
	}
	.ham_bg {
		background-color: #ffffff;
	    min-width: fit-content;
	    max-width: 500px;
	    float: right;
	    padding: 40px 110px 30px;
	    margin-top: 16px;
	    position: absolute;
	    z-index: 1;
	    right: 120px;
	    border: 8px solid #fa6d35;
	    box-shadow: 2px 2px 11px #919191;
>>>>>>> origin/lleebs.v6
	}
	.hamnav_hole {
		font-size: 1.1rem;
		font-weight: 700;
	}
	.hamnav_menu {
		margin-bottom: 30px;
	}
	.hamnav_menu > span {
		font-size: 1.1rem;
	}
	.sub_hamnav_menu {
		font-size: 1rem;
		font-weight: normal;
	}
	.sub_hamnav_menu > li {
		padding: 7px 10px;
	}
<<<<<<< HEAD
	.sub_hamnav_menu > li > a:hover {
		color: #ff6000;
=======
	.sub_hamnav_menu > li:hover {
		background-color: #f3f3f3;
>>>>>>> origin/lleebs.v6
	}
	.sub_hamnav_menu > li > a {
		display: inline-block;
    	width: 185px;
<<<<<<< HEAD
    	color: #a9a9a9;
=======
>>>>>>> origin/lleebs.v6
	}
	.hamnav_member {
		margin-top: 30px;
		display: block;
		border-top: 1px solid #cacaca;
		padding-top: 25px;
	}
	.hamnav_member > li {
		margin-bottom: 15px;
	}
<<<<<<< HEAD
	.hamnav_member > li > a {
		color: #fff;
	}
	.hamnav_member > li > a:hover {
		color: #ff6000;
	}
}

@media screen and (max-width: 450px) {
=======
	.hamnav_member > li:hover {
		background-color: #f3f3f3; 
	}
}

@media screen and (max-width: 577px) {
>>>>>>> origin/lleebs.v6
	.ham_bg {
	    float: left;
	    left: 0;
	    position: absolute;
	    z-index: 1;
    }
}