@charset "UTF-8";
.container {
	padding: 50px;
	padding-bottom: 80px;
    max-width: 770px;
    margin: 0 auto;
    margin-top: 118px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #b7b7b7;
}
.voteBG { /*투표 등록 카드 영역 회색 바탕*/
	padding: 50px;
    max-width: 770px;
    margin: 0 auto;
    margin-top: 118px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #b7b7b7;
}
.title {
	padding: 20px;
	font-size: 3rem;
	text-align: center;
	font-weight: 600;
	margin-bottom: 35px;
}
.votecol {
	padding: 16px;
	margin: 5px;
}

.btn {
	padding: 16px;
	min-width: 220px;
	margin: 30px;
	align-content: center;
}

.votetitle {
	text-align: center;
    background-color: #dcdcdc;
    font-weight: 600;
    padding: 16px;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid #000;
    box-shadow: 3px 3px 3px #cbcbcb;
}
.votetitle > span {
	font-size: 20px;
}
.input-group-text {
	padding: 10px;
	margin: 5px;
	margin-bottom: 20px;
	border: 1px solid #000;
    border-radius: 5px;
}
/* 퍼센테이지 뒷 배경*/
#percentage_back {
	width: 100%;
	background-color: #f8f9fa;
	max-height: 50px;
	min-height: 50px;
}

/* 각 항목들 퍼센테이지 */
#percentage_each {		
	min-height: 50px;
	font-size: 20px;
	font-weight: 600;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #ff7b2b;
/*	background-color: #ff9e9e;*/
	padding: 10px;
	text-align: right;
	line-height: 30px;
	color: black;
}
.btnArea {
	width: fit-content;
	margin: 50px auto 0;
}