@charset "UTF-8";
.container {
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	max-width: 1060px;
	max-height: 720px;
	margin: 0 auto;
	margin-top: 118px;
	background: #f1f1f1f1;
	border-radius: 10px;
	box-shadow: 2px 3px grey;
}
.title {
	padding: 20px;
	font-size: 3rem;
	font-weight: 600;
}
.input-group-text {
	padding: 16px;
	margin: 5px;
}

.votecol {
	padding: 16px;
	margin: 5px;
}

.votetitle {
	background-color: #dcdcdc;
	font-weight: 600;
	align-items: center;
	border-radius: 25px;
}

.btn {
	padding: 16px;
	min-width: 220px;
	margin: 30px;
	align-content: center;
}

/* 퍼센테이지 뒷 배경*/
#percentage_back {
	width: 100%;
	background-color: #f8f9fa;
	max-height: 20px;
	min-height: 30px;
}

/* 각 항목들 퍼센테이지 */
#percentage_each {
	align-self : flex-end;
	height: 30px;
		background-color: #ff9e9e;
	text-align: justify;
	line-height: 30px;
	color: black;
}