@charset "UTF-8";

.title {
	margin-top: 10px;
	margin-left: 25%;
	font-size: 30px;
	
}
hr {
	width: 50%;
	margin: 1vh auto;
	
}
input {
	border-radius: 5px;
	border: 1px solid black;
}

#ctname, #category, #stplace , #storeNumber, #content, #ceofile, #shoptime, #stlogo, #fee, #redday, #ceono, #buttons{
	margin-top: 20px;
	margin-left: 25%;
}
#stplace2{
	margin-top: 20px;
}
.snumber{
	width: 60px;
}
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#recommend-logo-size{
	font-size: 12px;
	color: rgb(255, 125, 86);
	position: relative;
	left: 60px;
}
