@charset "UTF-8";
body{
	overflow: auto;
}
#stname{
	font-weight: bold;
	font-size: 2.5rem;
	position: relative;
	left: 20px;
	bottom: 40px;
}
/*주문버튼*/
#orderBtn{
	position: fixed;
	bottom: 70px;
	right: 70px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	font-size: 25px;
	background-color: #7BD7FF;
	border: none;
}
.store-container{
	position: absolute;
	display: flex;
	transform: translate(-50%, -400px);
	left: 50%;
	top: 35em;
	flex-direction: column;
	/*background-color: red;*/
}

.store-body{
	width: 100%;
}
.store-content{
	display: flex;
}
.store-subinfo{
	flex-direction: column;
	display: flex;
}
.store-img > img {
	height: 360px;
	width: 360px;
}
.store-delivery-span{
	font-size: 25px;
}
.title-bold{
	font-weight: bold;
}
.store-subinfo, .order-button{
	white-space: nowrap;
	margin-left: 20px;
}
.store-subinfo > span:nth-child(3){
	margin-top: 20px;
}
.store-maininfo{
	display: flex;	
}
.store-subinfo > .store-intro-span{
	font-size: 20px;
	margin-bottom: 5px;
}
.store-box{
	margin-left: 50px;
}
.order-button{
	margin-top: 10px;
}
.order-button > button{
	margin-top: 10px;
	width: 300px;
	height: 50px;
	border-radius: 5px;
	border: none;
	background-color: #7BD7FF;
	font-size: 18px;
}
.order-button > button:hover, #orderBtn:hover{
	background-color: rgb(0, 160, 230);
}

/*메뉴 부분 css*/
.menu-container{
	display: flex;
	flex-direction: column;
}
.one-menu-box{
	margin-top: 95px;
	display: flex;
	flex-direction: row;
}
.one-menu-box:hover{
	background-color: rgb(213, 213, 213);
}
.memu-img > img {
	margin-left: 50px;
	width: 200px;
	height: 200px;
}
.menu-details{
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}
#menu-title{
	font-size: 25px;
	font-weight: bold;
}
#menu-price{
	font-size: 30px;
	font-weight: bold;
}
.rounded-pill{
	font-size: 20px;
	position: relative;
	bottom: 45px;
	left: 0px;
}