@charset "UTF-8";

body {
	background-color: #fffcf9;
}
form {
	width: fit-content;
    min-width: 900px;
    padding: 80px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 12px rgba(3, 3, 3, .08);
    margin: 0 auto;
}
.mainTitle {
	color: #ff6000;
    text-align: center;
}
.profile-img {
	display: block !important;
}
.input-text-img {
	display: inline-block;
    width: 615px;
    line-height: 25px;
}
.input_text {
	border-radius: 30px;
}
.inputbg {
	background-color: #dddddd;
	height: 40px;
}
.info_items {
	padding-bottom: 40px;
}
.btnArea {
	width: fit-content;
    min-width: 580px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0;
    text-align: center;
    line-height: 50px;
}
#buttonset {
	margin-top: 15px;
}
.radio-inline {
	cursor: pointer;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}
.form-check-input {
	cursor: pointer;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	size: 19px;
}
.form-select {
	cursor: pointer;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	size: 3px;
}

/* [st] button-18 */
  .button-18 {
    align-items: center;
    background-color: #FFA559; /* 버튼배경 색상 설정 */
    border: 0;
    box-sizing: border-box;
   /*  color: #6f726e; */
    color: #252525; /* 텍스트 색상 설정 */
    cursor: pointer;
    display: inline-flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 900px;
    min-height: 50px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 190px;
    padding-right: 190px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    border-radius: 25px; /* 모서리를 둥글게 만듦 */
  }

  .button-18:hover,
  .button-18:focus { 
    background-color: #FF6000;
    color: #252525;
    /* color: #ffffff; */
  }

  .button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }

  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
  .button-99 {
 	cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: #FFE6C7; /* 텍스트 색상 설정 */
    
  }
/* [ed] button-18 */
.button-99 { /* 무색 투명 버튼 */
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
}
.input-group{
	margin: 7px;
}
.input-group-text{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#buttonset{
	margin-top: 15px;
}
.radio_gender{
	font-size: 1.1rem;
}
.radio_mtype{
	font-size: 1rem;
    line-height: 30px;
    margin-right: 30px;
}
.small_image{
	width:100px;
	height:100px;
	margin:2px;
	border-radius:5px;
	display: inline-block;
}